.works {
  padding-bottom: 60px;

  @media (max-width: $md3+px) {
    padding-bottom: 30px;
    display: flex;
    overflow: auto;
  }
}
.works__items {
  padding: 0 0 60px 0;
}

.works__main-title {
  margin: 0 0 45px 0;
  @media (max-width: $md3+px) {
    margin: 0 0 20px 0;
  }
}
.works__item {

  padding: 0 0 30px 0;
  margin: 0 0 30px 0;
  border-bottom: 1px solid #E0E0E0;
  &:last-child {
    margin-bottom: 0;

  }
  @media (min-width: $md3+px) {
    display: flex;
    align-items: flex-start;

  }


}
.works__image {
  flex: 0 0 246px;
  display: block;
  border-radius: 6px;
  min-height: 180px;
  overflow: hidden;
  @media (max-width: $md3+px) {
    padding: 0 0 60% 0;
  }
}

.works__body {
  flex: 1 1 auto;

  @media (min-width: $md3+px) {
    margin: 0 0 17px 0;
    padding: 0 0 0 18px;
  }
}

.works__title {
  display: inline-block;
  color: inherit;
  font-size: 30px;
  line-height: 44 / 30 * 100%;
  margin: 0 0 15px 0;
  transition: color .3s ease 0s;
  @media (max-width: $md3+px) {
    font-size: 24px;
  }
  @media (min-width: $md2+px) {
    &:hover {
      color: #ff6464;
  }
  }
}

.works__info {
  display: flex;
  align-items: center;
  margin: 0 0 15px 0;
}

.works__year {
  background: #142850;
  border-radius: 16px;
  height: 25px;
  padding: 0 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 900;
  font-size: 18px;
}
.works__category {
  color: #8695A4;
  font-size: 20px;
  margin: 0 0 0 25px;

}
.works__text {

}